.layout{
    .logo{
        height: 50px;        
    }
    .ant-menu-item > a{
        display: inline-block;
        font-size: 12px;
    }
    .header-ul{
        text-align: right;        
        li{
            display: inline-block;
            width: 150px;
            text-align: center;
        }
    }
}