@import "~antd/dist/antd.less";

.ant-message-notice{
    padding: 2px;
}
.ant-form-explain{
    color:rgb(54, 149, 211);
}

@font-size-base         : 13px;
// @font-size-lg           : @font-size-base + 2px;
// @font-size-sm           : 12px;


.ant-input-affix-wrapper .ant-input{
    min-height: 24px;
}
@import "./common.less";